:host {
    padding: 10px;
    user-select: none;
}

// toolbar elements
.toolbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 10px;
}

.chip {
    border-radius: 60px;
    min-width: 70px;
    text-align: center;
    outline: none;
    box-shadow: none;
    margin-bottom: 10px;

    &.off {
        border-color: black !important;
        background-color: gray !important;
        color: black !important;
        opacity: 50%;
    }
}

.pickers {
    button, select {
        margin-bottom: 10px;
    }
}

.svg-container {
    position: relative;
    display: block;
    max-width: 100%;
    overflow-x: auto;
    height: 100%;
}

// svg elements
svg {
    height: 100%;
    margin-top: 30px;
    display: inline-block;

    .gray-line {
        stroke: gray;
        stroke-width: 0.1;
    }
    
    .blue-line {
        stroke: blue;
        stroke-width: 0.5;
    }

    rect {
        cursor: pointer;
    }

    text {
        text-anchor: middle;
        
        &:not(.date) {
            cursor: pointer;
        }
    
        &:hover:not(.date) {
            fill: cornflowerblue;
        }
    
        &.date {
            font-size: 20px;
        }
    
        &.month {
            font-size: 10px;
        }
    
        &.year {
            font-size: 5px;
        }
    }
    
    .name-container {
        font-size: 4px;
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
        border-radius: 5px;
    
        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        &.date {
            font-size: 15px;
        }
    
        &.month {
            font-size: 7.5px;
        }
    
        &.year {
            font-size: calc(5px * 0.75);
        }
    }
}





