

svg {
    height: 100%;
    display: inline-block;
}

.gray-line {
    stroke: gray;
    stroke-width: 0.1;
}

.blue-line {
    stroke: blue;
    stroke-width: 0.2;
}

.chip {
    display: inline-block;
    border-radius: 60px;
    padding: 5px 7px;
    cursor: pointer;
    margin-inline-end: 5px;
}

text {
    font-family: sans-serif;
    font-size: 8px;
    text-anchor: middle;
    cursor: pointer;

    &:hover {
        fill: cornflowerblue;
    }

    &.small-text {
        font-size: 5px;
        text-anchor: start;
    }

    &.hours-text {
        font-size: 15px;

        &.small-text {
            font-size: 9px;
        }
    }
}

select {
    padding: 5px 7px;
    outline: none;
}

.container {
    display: flex;
}

