

svg {
    height: 100%;
    display: inline-block;
}

.gray-line {
    stroke: gray;
    stroke-width: 0.1;
}

.blue-line {
    stroke: blue;
    stroke-width: 1;
}

.chip {
    display: inline-block;
    border-radius: 60px;
    padding: 5px 7px;
    cursor: pointer;
    margin-inline-end: 5px;
}

text {
    font-family: sans-serif;
    text-anchor: middle;
    cursor: pointer;

    &:hover {
        fill: cornflowerblue;
    }

    &.small-text {
        text-anchor: start;
    }

    &.date {
        font-size: 20px;
        &.small-text {
            font-size: 15px;
        }
    }

    &.month {
        font-size: 10px;
        &.small-text {
            font-size: 7.5px;
        }
    }

    &.year {
        font-size: 5px;
        &.small-text {
            font-size: calc(5px * 0.75);
        }
    }
}

select {
    padding: 5px 7px;
    outline: none;
}

.container {
    display: flex;
}

